.htm {
    color: #b73225;
}

.and {
    border: none;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 18px;
}

.css {
    border: none;
    color: #004e7c;
    font-weight: 400;
}

.js {
    color: #f1b24a;
}

.jav {
    color: #932432;
}

.com {
    color: #007cc7;
}